<%= form_for([:admin, @theme, @proposal]) do |f| %>
  <%= render :partial => "admin/errors", :locals => {:errors => @proposal.errors} %>

  <div class="field">
    <%= f.label :theme %><br />
    <%= f.select :theme_id, Theme.all.collect{ |theme| [theme.title, theme.id] } %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :impact %><br />
    <%= f.text_field :impact %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
