<%= pluralize theme.proposals.length, 'proposal' %>
<%= link_to 'New Proposal', new_admin_theme_proposal_path(theme), :class => 'button' %>
<% if theme.proposals.any? %>
	<ul>
		<% theme.proposals.each do |proposal| %>
			<li <%= "class='suspended'" unless proposal.approved %>>
				<%= link_to proposal.title, [:admin, theme, proposal] %>
				(<%= proposal.impact %>)
				<%= if proposal.approved
				      link_to "suspend", suspend_admin_theme_proposal_path(theme, proposal), :class => 'button'
				    else
				      link_to "approve", approve_admin_theme_proposal_path(theme, proposal), :class => 'button'
				    end %>
				<%= link_to 'Edit', edit_admin_theme_proposal_path(theme, proposal), :class => 'button' %>
			</li>
		<% end %>
	</ul>
<% end %>