<%= t "proposal.n", :count => theme.proposals.length  %>
<%= link_to t("proposal.New"), new_admin_theme_proposal_path(theme), :class => 'button' %>
<% if theme.proposals.any? %>
	<ul>
		<% theme.proposals.each do |proposal| %>
			<li <%= "class='suspended'" unless proposal.approved %>>
				<%= link_to proposal.title, [:admin, theme, proposal] %>
				(<%= proposal.impact %>)
				<%= if proposal.approved
				      link_to t(:suspend), suspend_admin_theme_proposal_path(theme, proposal), :class => 'button'
				    else
				      link_to t(:approve), approve_admin_theme_proposal_path(theme, proposal), :class => 'button'
				    end %>
				<%= link_to t(:Edit), edit_admin_theme_proposal_path(theme, proposal), :class => 'button' %>
			</li>
		<% end %>
	</ul>
<% end %>