<h1>Listing proposals</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Impact</th>
    <th>Approved?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proposals.each do |proposal| %>
  <tr <%= "class='inactive'" unless proposal.approved %>>
    <td><%= proposal.title %></td>
    <td><%= proposal.description %></td>
    <td><%= proposal.impact %></td>
	<td><%= if proposal.approved
then
link_to "suspend", suspend_admin_theme_proposal_path(proposal.theme, proposal), :class => 'button'
else
link_to "approve", approve_admin_theme_proposal_path(proposal.theme, proposal), :class => 'button'
end
%></td>
    <td><%= link_to 'Show', [:admin, proposal.theme, proposal], :class => 'button' %></td>
    <td><%= link_to 'Edit', edit_admin_theme_proposal_path(proposal.theme, proposal), :class => 'button' %></td>
    <td><%= button_to 'Destroy', [:admin, proposal.theme, proposal], :method => :delete, :confirm => 'Are you sure?', :title => 'Permanently remove this proposal.' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Proposal', new_admin_theme_proposal_path, :class => 'button' %>
<%= link_to 'Back', admin_themes_path, :class => 'button' %>
