<h2><%= @proposal.title %></h2>

<p>
  <b>Description:</b>
  <%= @proposal.description %>
</p>

<p>
  <b>Impact:</b>
  <%= @proposal.impact %>
</p>

<p>
  <b>Approved:</b>
  <%= @proposal.approved %>
</p>


<%= link_to 'Edit', edit_admin_theme_proposal_path(@theme, @proposal), :class => 'button' %>
<%= if @proposal.approved
then
	link_to "suspend", suspend_admin_theme_proposal_path(@theme, @proposal), :class => 'button'
else
	link_to "approve", approve_admin_theme_proposal_path(@theme, @proposal), :class => 'button'
end %>
<%= link_to 'Back', admin_themes_path, :class => 'button' %>
