<h1><%=t :title %></h1>

<h2><%=t :Progress %></h2>
<p id="status">
	<span class="progress">
		<span class="amount">0</span>/<span class="target"><%= @target %></span>
		<%= @units %>
	</span>
	<span class="graph"><span class="bar">&nbsp;</span></span>
	<span class="percent">0%</span>
</p>

<%# TODO: count inner (approved) proposals instead. %>
<h2><%=t "theme.n", :count => @themes.length %></h2>
<% if @themes.any? %>
	<% @themes.each do |theme| %>
		<h3><%= theme.title %></h3>
		<% if theme.proposals.any? %>
			<ul class="proposals">
			<% theme.proposals.each do |proposal| %>
				<li><label>
					<input type="checkbox" value="<%= proposal.impact %>" />
					<%= proposal.title %> (<%= proposal.impact %>)
					<% unless proposal.description.blank? %>
						<span class="description"><%= proposal.description %></span>
					<% end %>
				</label></li>
			<% end %>
			</ul>
		<% end %>
	<% end %>
<% end %>
