<h1>Deficit puzzle: you fix the budget</h1>

<h2>Progress</h2>
<p id="status">
	<span class="progress">
		<span class="amount">0</span>/<span class="target"><%= @target %></span>
		<%= @units %>
	</span>
	<span class="graph"><span class="bar">&nbsp;</span></span>
	<span class="percent">0%</span>
</p>

<h2><%= pluralize @themes.length, 'theme' %></h2>
<% if @themes.any? %>
	<ul>
		<% @themes.each do |theme| %>
			<li><%= theme.title %>
				<ul>
					<% theme.proposals.each do |proposal| %>
						<li><label>
							<input type="checkbox" value="<%= proposal.impact %>" />
							<%= proposal.title %> (<%= proposal.impact %>)
						</label></li>
					<% end %>
				</ul>
			</li>
		<% end %>
	</ul>
<% end %>

<%= link_to 'Admin', admin_proposals_path %>
