<h1><%=t :title %></h1>

<h2><%=t :Progress %></h2>
<p id="status">
	<span class="progress">
		<span class="amount">0</span>/<span class="target"><%= @target %></span>
		<%= @units %>
	</span>
	<span class="graph"><span class="bar">&nbsp;</span></span>
	<span class="percent">0%</span>
</p>

<%# TODO: count inner (approved) proposals instead. %>
<h2><%=t "theme.n", :count => @themes.length %></h2>
<% if @themes.any? %>
	<table>
		<tbody>
			<% @themes.each do |theme| %>
				<tr><th><%= theme.title %></th></tr>
				<tr><td>
				<% if theme.proposals.any? %>
					<ul>
					<% theme.proposals.each do |proposal| %>
						<li><label>
							<input type="checkbox" value="<%= proposal.impact %>" />
							<%= proposal.title %> (<%= proposal.impact %>)
						</label></li>
					<% end %>
					</ul>
				<% end %>
				</td></tr>
			<% end %>
		</tbody>
	</table>
<% end %>
