<%= form_for([:admin, @theme]) do |f| %>
  <%= render :partial => "admin/errors", :locals => {:errors => @theme.errors} %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
