<h2><%=t "theme.List" %></h2>

<table class="themes">
<% @themes.each do |theme| %>
  <tr <%= "class='suspended'" unless theme.approved %>>
	<th>
		<%= theme.title %>
	</th>
	<td>
		<%= if theme.approved
		      link_to t(:suspend), suspend_admin_theme_path(theme), :class => 'button'
		    else
		      link_to t(:approve), approve_admin_theme_path(theme), :class => 'button'
		    end %>
		<%= link_to t(:Edit), edit_admin_theme_path(theme), :class => 'button' %>
		<%= button_to t(:Destroy), [:admin, theme], :method => :delete, :confirm => t(:confirm), :title => t("theme.Destroy_permanently") %>
	</td>
  </tr>
  <tr <%= "class='suspended'" unless theme.approved %>>
	<td colspan="2">
		<%= render :partial => "admin/proposals/list", :locals => {:theme => theme} %>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t("theme.new"), new_admin_theme_path, :class => 'button' %>
