<h2>Listing themes</h2>

<table class="themes">
<% @themes.each do |theme| %>
  <tr <%= "class='suspended'" unless theme.approved %>>
	<th>
		<%= theme.title %>
	</th>
	<td>
		<%= if theme.approved
		      link_to "suspend", suspend_admin_theme_path(theme), :class => 'button'
		    else
		      link_to "approve", approve_admin_theme_path(theme), :class => 'button'
		    end %>
		<%= link_to 'Edit', edit_admin_theme_path(theme), :class => 'button' %>
		<%= button_to 'Destroy', [:admin, theme], :method => :delete, :confirm => 'Are you sure?', :title => 'Permanently remove this theme' %>
	</td>
  </tr>
  <tr <%= "class='suspended'" unless theme.approved %>>
	<td colspan="2">
		<%= render :partial => "admin/proposals/list", :locals => {:theme => theme} %>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Theme', new_admin_theme_path, :class => 'button' %>
