<h1>Listing themes</h1>

<table>
<% @themes.each do |theme| %>
  <tr>
	<th>
		<%= theme.title %>
		<%= link_to 'Edit', edit_admin_theme_path(theme), :class => 'button' %>
		<%= button_to 'Destroy', [:admin, theme], :method => :delete, :confirm => 'Are you sure?', :title => 'Permanently remove this theme' %>
	</th>
  </tr>
  <tr>
	<td colspan="3">
		<%= pluralize theme.proposals.length, 'proposal' %>
		<% if theme.proposals.any? %>
			<ul>
				<% theme.proposals.each do |proposal| %>
					<li>
						<%= link_to proposal.title, [:admin, theme, proposal] %>
						<%= link_to 'Edit', edit_admin_theme_proposal_path(theme, proposal), :class => 'button' %>
					</li>
				<% end %>
			</ul>
		<% end %>
		<%= link_to 'New Proposal', new_admin_theme_proposal_path(theme), :class => 'button' %>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Theme', new_admin_theme_path, :class => 'button' %>
