<!DOCTYPE html>
<html>
<head>
  <title><%=t :html_title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="page">
	<%= link_to t(:to_frontpage), proposals_path, :class => 'static_message button' %>

	<h1 class="button"><%= link_to t(:Admin), :admin_root %></h1>

	<p id="notice"><%= notice %></p>

	<%= yield %>
</div>

</body>
</html>
